    <li class="item">
                <div class="right">
                    <div class="prices">
                        <span class="new new1"><span class="price">6 000</span> <span class="rouble">a</span></span>
                        <span class="old old1">6 900 <span class="rouble">a</span></span>
                    </div>
                    <div class="pig pig1">Сэкономь 900 <span class="rouble">a</span></div>

                    <form method="POST" action="send.php" name="order">
                        <input type="hidden" name="item" value="La Prima «Сердечки»">
                        <input type="hidden" name="price" value="6 000">
                        <input type="hidden" name="image" value="img/2.1.png">
                        <div class="field">
                            <input type="text" class="name" name="name" placeholder="Ваше имя"><span class="error">Пожалуйста, заполните поле</span>
                        </div>
                        <div class="field">
                            <input type="text" name="phone" class="phone" placeholder="Ваш телефон"><span class="error">Пожалуйста, заполните поле</span>
                        </div> 
                        <p><strong>Выберите подарок:</strong></p>
                        
                        <div class="gift_inputs">
                            <input name="gift" type="radio" value="Свечи" id="candles" checked>
                            <label for="candles">Свечи</label>

                            <input name="gift" type="radio" value="Аромапалочки" id="aroma">
                            <label for="aroma">Аромапалочки</label>
                            
                            <input name="gift" type="radio" value="Саше" id="sashe">
                            <label for="sashe">Саше</label>
                        </div>
                        <div class="check">
                            <label>
                                <input type="checkbox" name="check" id="check">
                                <span class="checkbox"></span>
                                <span class="checkbox_text">Я согласен на обработку<br>персональных данных в&nbsp;соответствии&nbsp;с&nbsp;законодательством&nbsp;РФ</span>
                            </label>
                        </div>

                        <div class="colors">
                            <span class="title">Цвет: </span>
                            <input name="color" type="radio" value="Сердечки" id="hearts" checked>
                            <label for="hearts"></label>
                        </div>

                        <select name="size" id="collection_images2_size">
                            <option data="0" value="Выберите размер">Выберите размер</option>
                            <option data="1" value="1,5 спальный">1,5 спальный 150*220, - наволочка 40*40</option>
                        </select>

                        <input type="submit" value="Заказать">
                    </form> 
                    <div class="time">Покупай за две минуты онлайн<br>вместо трех часов в магазине!</div>
                </div>
                <p class="collection_title">La Prima «Сердечки»</p>
                <div class="left_gallery">
                    <ul class="collection_images" id="collection_images2">
                        <li number="1">
                            <img full-size="img/2.1_full.png" src="img/2.1.png" alt="" title="">
                        </li>
                        <li number="2">
                            <img full-size="img/2.2_full.png" src="img/2.2.png" alt="" title="">
                        </li>
                        <li number="3">
                            <img full-size="img/2.3_full.png" src="img/2.3.png" alt="" title="">
                        </li>
                    </ul>
                    <div class="control">
                        <a class="gallery_arrow" href="" id="collection_images2_left">&#8592;</a>
                        <span><span id="collection_images2_current">1</span>/<span id="collection_images2_count"></span></span>
                        <a class="gallery_arrow"  href="" id="collection_images2_right">&#8594;</a>
                    </div>
                    <a class="full_size" id="collection_images2_full_size" data-fancybox="collection_images2" href="img/2.1_full.png"></a>

                    <!--<div class="hotels"></div>-->
                </div>
                <div class="left">
                    <div class="table">
                        <p class="tr"><span class="td">Материал</span><span class="td">сатин</span></p>
                        <p class="tr"><span class="td">Плотность</span><span class="td">205 ТС</span></p>
                        <p class="tr"><span class="td">Состав</span><span class="td">100% хлопок</span></p>
                        <p class="tr"><span class="td">Наполнитель</span><span class="td">полиэфирное волокно</span></p>
                    </div>
                    <div class="desc"><p>Состав набора: 1,5 спальный комплект постельного белья, стеганое покрывало, декоративная наволочка 40*40. Коллекция выполнена из натуральной, экологически чистой сатиновой ткани с использованием современных безопасных красителей. Стильное постельное белье станет ярким дополнением интерьера детской комнаты. Есть возможность использовать покрывало в качестве легкого одеяла, так как его очень легко стирать в стиральной машине.</p></div>
                </div>
                <script>
                $(function() {
                    $('#collection_images2').carouFredSel({
                        circular: true,
                        infinite: true,
                        responsive: true,
                        height: 410,
                        width:750,
                        prev: '#collection_images2_left',
                        next: '#collection_images2_right',
                        scroll: { items: 1,
                            onAfter:  function(data){
                            $('#collection_images2_full_size').attr('href', $(this).find('img').attr('full-size'));
                            $('#collection_images2_current').html($(this).find('li').attr('number'));
                            }
                        },
                        onCreate:  function(data){
                            $('#collection_images2_count').html(this.childElementCount);
                        },

                        auto: false,
                        items: {
                            visible: {
                                min: 1,
                                max: 1
                            },
                            width:750 
                        },
                        swipe: {
                            onTouch: true
                        }
                    });
                 });
                </script>
            </li>