    <li class="item item4">
                <div class="right">
                    <div class="prices">
                        <span class="new new1"><span class="price">7 700 </span> <span class="rouble">a</span></span>
                        <span class="new new2"><span class="price">8 300 </span> <span class="rouble">a</span></span>
                        <span class="new new3"><span class="price">9 200 </span> <span class="rouble">a</span></span>

                        <span class="old old1">8 450 <span class="rouble">a</span></span>                        
                        <span class="old old2">9 150 <span class="rouble">a</span></span>
                        <span class="old old3">10 150 <span class="rouble">a</span></span>
                    </div>
                    <div class="pig pig1">Сэкономь 750 <span class="rouble">a</span></div>
                    <div class="pig pig2">Сэкономь 850 <span class="rouble">a</span></div>
                    <div class="pig pig3">Сэкономь 950 <span class="rouble">a</span></div>

                    <form method="POST" action="send.php" name="order">
                        <input type="hidden" name="item" value="Одеяло и подушка TENCEL">
                        <input type="hidden" name="price" value="7 700">
                        <input type="hidden" name="image" value="img/4.1.png">
                        <div class="field">
                            <input type="text" class="name" name="name" placeholder="Ваше имя"><span class="error">Пожалуйста, заполните поле</span>
                        </div>
                        <div class="field">
                            <input type="text" name="phone" class="phone" placeholder="Ваш телефон"><span class="error">Пожалуйста, заполните поле</span>
                        </div> 
                        <p><strong>Выберите подарок:</strong></p>
                        
                        <div class="gift_inputs">
                            <input name="gift" type="radio" value="Свечи" id="candles" checked>
                            <label for="candles">Свечи</label>

                            <input name="gift" type="radio" value="Аромапалочки" id="aroma">
                            <label for="aroma">Аромапалочки</label>
                            
                            <input name="gift" type="radio" value="Саше" id="sashe">
                            <label for="sashe">Саше</label>
                        </div>
                        <div class="check">
                            <label>
                                <input type="checkbox" name="check" id="check">
                                <span class="checkbox"></span>
                                <span class="checkbox_text">Я согласен на обработку<br>персональных данных в&nbsp;соответствии&nbsp;с&nbsp;законодательством&nbsp;РФ</span>
                            </label>
                        </div>

                        <div class="colors">
                            <span class="title">Цвет: </span>
                            <input name="color" type="radio" value="белый" id="white" checked>
                            <label for="white"></label>
                        </div>

                        <select name="size" id="collection_images4_size">
                            <option data="0" value="Выберите размер">Выберите размер</option>
                            <option data="1" value="1,5 спальный">1,5 спальный</option>
                            <option data="2" value="2 спальный">2 спальный</option>
                            <option data="3" value="евро">Евро</option>
                        </select>

                        <input type="submit" value="Заказать">
                    </form> 
                    <div class="time">Покупай за две минуты онлайн<br>вместо трех часов в магазине!</div>
                </div>
                <p class="collection_title">Одеяло и подушка TENCEL</p>
                <div class="left_gallery">
                    <ul class="collection_images" id="collection_images4">
                        <li number="1">
                            <img full-size="img/4.1_full.png" src="img/4.1.png" alt="" title="">
                        </li>
                        <li number="2">
                            <img full-size="img/4.2_full.png" src="img/4.2.png" alt="" title="">
                        </li>
                        <li number="3">
                            <img full-size="img/4.3_full.png" src="img/4.3.png" alt="" title="">
                        </li>
                        <li number="4">
                            <img full-size="img/4.4_full.png" src="img/4.4.png" alt="" title="">
                        </li>
                        <li number="5">
                            <img full-size="img/4.5_full.png" src="img/4.5.png" alt="" title="">
                        </li>
                        <li number="6">
                            <img full-size="img/4.6_full.png" src="img/4.6.png" alt="" title="">
                        </li>
                    </ul>
                    <div class="control">
                        <a class="gallery_arrow" href="" id="collection_images4_left">&#8592;</a>
                        <span><span id="collection_images4_current">1</span>/<span id="collection_images4_count"></span></span>
                        <a class="gallery_arrow"  href="" id="collection_images4_right">&#8594;</a>
                    </div>
                    <a class="full_size" id="collection_images4_full_size" data-fancybox="collection_images4" href="img/4.1_full.png"></a>

                    <div class="hotels new"></div>
                </div>
                <div class="left">
                    <div class="table">
                        <p class="tr"><span class="td">Ткань чехла</span><span class="td">мако-сатин, 100% хлопок</span></p>
                        <p class="tr"><span class="td">Плотность</span><span class="td">200 гр/м2</span></p>
                        <p class="tr"><span class="td">Наполнитель</span><span class="td">Tencel/полиэфирное волокно</span></p>
                        <p class="tr"><span class="td">Упаковка</span><span class="td">фирменная сумка с ручками, на молнии</span></p>
                    </div>
                    <div class="desc"><p>Благодаря союзу природы и новейших текстильных технологий был создан уникальный продукт: одеяло и подушка TENCEL — новое поколение комфорта. Комплект обладает натуральной атнибактериальной защитой и поддерживает идеальный уровень влажности. Экологически чистый материал. В силу своей мягкости и гладкости будет комфортен для людей с чувствительной кожей. Является прекрасным подарком на любое торжество.</p></div>
                </div>
                <script>
                $(function() {
                    $('#collection_images4').carouFredSel({
                        circular: true,
                        infinite: true,
                        responsive: true,
                        height: 410,
                        width:750,
                        prev: '#collection_images4_left',
                        next: '#collection_images4_right',
                        scroll: { items: 1,
                            onAfter:  function(data){
                            $('#collection_images4_full_size').attr('href', $(this).find('img').attr('full-size'));
                            $('#collection_images4_current').html($(this).find('li').attr('number'));
                            }
                        },
                        onCreate:  function(data){
                            $('#collection_images4_count').html(this.childElementCount);
                        },

                        auto: false,
                        items: {
                            visible: {
                                min: 1,
                                max: 1
                            },
                            width:750 
                        },
                        swipe: {
                            onTouch: true
                        }
                    });
   
                });
                </script>
            </li>