<section class="advantages">
    <div class="wrapper">
        <h2>Преимущества работы с нами</h2>
        <div class="first_line">
            <div>
                <span class="number">4%</span>
                <span class="title">Низкая<br>комиссия</span>
                <span class="desc">Вы получаете все бонусы, которые платит UBER.</span>
                <span class="icon"><img src="img/comission.png"></span>
            </div>
            <div>
                <span class="number">3000 Р</span>
                <span class="title">Бонус за начало работы</span>
                <span class="desc">Необходимо сделать 70 поездок за 21 день с момента активации</span>
                <span class="icon"><img src="img/bonus.png"></span>
            </div>
            <div>
                <span class="number">3000 Р</span>
                <span class="title">Бонус<br>за друга</span>
                <span class="desc">Денежное вознаграждение за каждого приведённого друга, совершившего 70 поездок</span>
                <span class="icon"><img src="img/friend.png"></span>
            </div>
        </div>
        <div class="second_line">
            <div>
                <span class="icon"><img src="img/operator.png"></span>
                <span class="title">До нас вы всегда<br>сможете дозвониться</span>
                <span class="desc">Наши специалисты проконсультируют вас в любое время, по всем возникающим вопросам.</span>
            </div>
            <div>
                <span class="icon"><img src="img/money.png"></span>
                <span class="title">Выплаты<br>без задержек</span>
                <span class="desc">Оплата путем зачисления денег на вашу банковскую карточку.</span>
            </div>
        </div>
    </div>
</section>