<section class="catalog">
    <div class="wrapper">
        <form method="POST" action="/send.php" name="catalog">
            <p>Оставьте заявку – и получите полный каталог комплектов<br>со скидками <span>до 40%</span></p>
            <div class="field">
                <input type="text" class="name" name="name" placeholder="Ваше имя"><span class="error">Пожалуйста, заполните поле</span>
            </div>
            <div class="field">
                <input type="text" name="phone" class="phone" placeholder="Ваш телефон"><span class="error">Пожалуйста, заполните поле</span>
            </div>  
            <div class="field">        
                <input type="text" name="email" class="email" placeholder="Электронная почта"><span class="error">Пожалуйста, заполните поле</span>
            </div>
            <div class="check">
                <label>
                    <input type="checkbox" name="check" id="check">
                    <span class="checkbox"></span>
                    <span class="checkbox_text">Я согласен на обработку персональных данных в&nbsp;соответствии&nbsp;с&nbsp;законодательством&nbsp;РФ</span>
                </label>
            </div>
            <input type="submit" value="Получить каталог!">
        </form>
    </div>
</section>