<footer>
    <div class="wrapper">
        <div class="copyright">&#169; SPB-UBER. 2017</div>
        <div class="polite">Политика конфиденциальности</div>
        <div class="buttons">
            <a href="#" class="docs">Отправить документы</a>
            <a href="#" class="docs">Отправить реквизиты</a>
            <a href="#popup_form" class="button popup_show">Связаться с нами</a>
        </div>
    </div>
</footer>
//= popups.html
<script src="js/app.js"></script>
<script src="js/send_ajax.js"></script>
</body>
</html>