<section class="gift">
    <div class="wrapper">
        <p class="title">Получите подарок на Ваш выбор<span>вместе с роскошным комплектом постельного белья</span></p>
        <div class="table">
            <div class="td">
                <img src="img/candles.png" alt="" title="">
            </div>
            <div class="td">
                <img src="img/aroma.png" alt="" title="">
            </div>
            <div class="td">
                <img src="img/sashe.png" alt="" title="">
            </div>
        </div>
    </div>
</section>