<section class="guarantees">
    <div class="wrapper">
        <p class="title">Вы получаете сразу три гарантии!</p>
        <ul>
            <li>
                <span class="title">Гарантия низкой цены</span>
                <p>Мы устанавливаем низкую цену<br>за счёт разницы в технологиях<br>производства материалов, сам товар<br>гарантированно будет сделан на высшем уровне</p>
            </li>
            <li>
                <span class="title">Гарантия качества</span>
                <p>Мы уверены в качестве товара,<br>т.к. сами подбираем ткани<br>и тестируем комплекты</p>
            </li>
            <li>
                <span class="title">Гарантия бережной доставки</span>
                <p>Гарантируем, что Ваш комплект прибудет<br>в целости и сохранности, иначе мы<br>заменим его за свой счёт</p>
            </li>
        </ul>
    </div>
</section>