<header>
    <div class="wrapper">
        <img class="logo" src="img/logo.png">
        <div class="land_desc">
            Доставка постельного белья по Санкт-Петербургу и Ленинградской области
        </div>
        <div class="phones">
            <p><span class="skype"><a href="skype:dinka_ldinka1?chat">+7 (921) 631-95-54</a></span> | <span>+7 (812) 449-75-14</span> | <span>+7 (921) 631-95-51</span></p>
            <a class="callback popup_show" href="#callback">Заказать обратный звонок</a>
        </div>
        <div class="clearfix"></div>
    </div>
</header>  