<div class="left_part">
    <ul class="left_menu">
        <li><a href="/drivers.html">Требования к водителям</a></li>
        <li><a href="/change_partner.html">Сменить партнера</a></li>
        <li><a href="/cars.html">Требования к автомобилю</a></li>
        <li><a href="/documents.html">Необходимые документы</a></li>
        <li><a href="/license.html">Лицензия</a></li>
        <li><a href="/tariff.html">Тарифы</a></li>
    </ul>
    <div class="left_banner">
        <p class="title">Бонус при регистрации</p>
        <p class="number">3000 руб.</p>
        <p class="desc">Необходимо сделать <span>50&nbsp;поездок за&nbsp;14&nbsp;дней</span> с момента активации</p>        
    </div>
</div>