<section class="mention">
    <div class="wrapper">
        <p class="title">Что говорят основатели «Культа сна»</p>
    </div>
    <div class="content">
        <div class="wrapper">
            <ul>
                <li>Индивидуальная разработка итальянских и немецких дизайнеров.</li>
                <li>Для того, чтобы сохранить низкую стоимость на элитные комплекты, постельное бельё производится в России на проверенных швейных фабриках.</li>
                <li>Мы лично отбираем лучшие ткани.</li>
                <li>Вы можете выбрать цвет и размер любого элемента комплекта.</li>
            </ul>
            <div class="quote">
                <p>«Культ Сна» — это семейная компания с прекрасным коллективом людей, любящих своё дело и продукт, с которым работают. Ни для никого не секрет, что наши коллеги и сотрудники, и мы сами пользуемся постельным бельем, которое предлагаем Вам — настолько уверены в его качестве!</p> 
                <p>Постоянные и новые покупатели становятся членами нашей большой семьи. Приобретая комплект постельного белья для себя, многие возвращаются, чтобы выбрать подарок для близких или друзей — нам очень приятно, ведь это самый главный показатель нашей работы и трепетного отношения к делу.</p>

            </div>

        </div>
    </div>
</section>