<div class="popup_background"></div>
<div class="popup thanks" id="thanks">
    <p class="title">Спасибо, Человек!</p>
    <p>Мы получили вашу заявку<br>и свяжемся с вами<br>в течение 1 рабочего дня</p>
<a href="javascript:void(0)" class="close"></a>
</div>

<div class="popup form" id="popup_form">
    <div class="wrap">
        <p class="title">Свяжитесь с нами</p>
        <form class="" name="banner_form" form-type="modal" method="POST" action="#">
            <div class="field animation">
                <input type="text" name="name" placeholder="Имя" class="required">
                <label>Имя</label>
            </div>
            <div class="field animation">
                <input type="text" name="phone" placeholder="+7 (999) 999 99 99" class="required">
                <label>Телефон</label>
            </div>
            <div class="field animation">
                 <div class="select">
                    <select name="city">
                        <option value="1">Санкт-Петербург</option>
                        <option value="1">Краснодар</option>
                    </select> 
                </div>
            </div>
            <div class="field animation textarea">
                <label>Сообщение</label>
                <textarea placeholder="Сообщение"></textarea>
            </div>
            <div class="field">
                <div class="captcha"></div>
            </div>
            
            <input type="submit" value="Подключиться к UBER">
        </form>
    </div>
<a href="javascript:void(0)" class="close"></a>
</div>

<div class="popup" id="docs">
    <div class="wrap">
        <p class="title">Свяжитесь с нами</p>
            <ul class="documents popup_documents">
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Свидетельство о&nbsp;регистрации&nbsp;ТС
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Страховой полис ОСАГО
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Водительское удостоверение ст. 1
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Водительское удостоверение ст. 2
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Паспорт РФ
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Фотографии Вашего&nbsp;автомобиля
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Ваше личное фото
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Лицензия
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Справка об отсутсвии судимости
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Ваше личное фото
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Лицензия
                </li>
                <li>
                    <img src="img/doc.png" alt="" title="">
                    Справка об отсутсвии судимости
                </li>
            </ul>  
            <a href="#" class="button">Отправить документы</a>
            <a href="javascript:void(0)" class="close close_a">Закрыть</a>
    </div>
    <a href="javascript:void(0)" class="close"></a>
</div>

<script src="js/popups.js"></script>