<section class="question">
    <div class="wrapper">
        <form class="form" name="question_form" method="POST" action="#">
            <h2>Остались вопросы?</h2>
            <p class="desc">Мы поможем подключиться к UBER.<br>Просто оставьте заявку</p>
            <div class="field animation">
                <input type="text" name="name" placeholder="Имя">
                <label>Имя</label>
            </div>
            <div class="field animation">
                <input type="text" name="phone" placeholder="+7 (999) 999 99 99">
                <label>Телефон</label>
            </div>
            <div class="field animation">
                <input type="text" name="email" placeholder="E-mail">
                <label>E-mail</label>
            </div>
            <div class="field animation">
                <input type="text" name="car" placeholder="Марка авто">
                <label>Марка авто</label>
            </div>
            <div class="field">
                <div class="captcha"></div>
            </div>
            <div class="field">
                <input type="submit" value="Отправить">
            </div>
            <!--<span class="success"></span>
            <span class="error"></span>-->
        </form>
    </div>
</section>