<section class="reviews">
    <div class="wrapper">
        <div class="reviews_control">
            <a class="reviews_arrow" href="" id="review-left"></a>
            <a class="reviews_arrow" href="" id="review-right"></a>
        </div>
        <ul class="reviews-ul">
            <li>
                <p class="title">Счастливые обладатели<br>стильных комплектов</p>
                <div class="review">
                    <img src="img/dmitri.jpg">
                    <div class="review_right"> 
                        <p class="name">Дмитрий Олейников</p>
                        <p class="text">Выражаем благодарность компании "Культ Сна" (г. Санкт-Петербург), <a href="https://www.kultsna.ru/">https://www.kultsna.ru/</a>, <a href="https://vk.com/kultsna">https://vk.com/kultsna</a>, за предоставленные одеяла, постельное бельё, полотенца, людям попавшим в трудную жизненную ситуацию, находящимся в социальном приюте, над котором наш фонд "Планета Добра" взял опеку. А также благодарим за детские развивающие игрушки. Спасибо, что Вы не остались равнодушны к нашему призыву о помощи!</p>
                        <p class="date">14 преля 2017, 11:15</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="review">
                    <img src="img/anna.jpg">
                    <div class="review_right"> 
                        <p class="name">Анна</p>
                        <p class="text">Заказала маме в подарок на день рождения комплект La Prima Эдем. Таких обалденных отзывов о постельном белье я еще не слышала. Мама очень рада, спасибо за сервис и качество.</p>
                        <p class="date">17 апреля 2017, 18:34</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="review">
                    <img src="img/pavel.jpg">
                    <div class="review_right"> 
                        <p class="name">Павел Корсун</p>
                        <p class="text">Сидя в интернете, случайно наткнулся на рекламу постельного белья. Зайдя на сайт, приятно удивила цветовая гамма комплектов. Это меня очень обрадовало, т.к. я долго искал именно такой цвет (розовая дымка — любимый цвет моей женщины). Среди огромного количества предложений в интернете этот цвет очень редкий, а качество вообще порадовало меня. Самое главное, что хотелось бы сказать от себя, моя женщина очень довольна качеством и красотой этого постельного белья и наш сон очень крепкий))</p>
                        <p class="date">26 апреля 2017, 11:47</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="review">
                    <img src="img/marina.jpg">
                    <div class="review_right"> 
                        <p class="name">Марина Сербулева</p>
                        <p class="text">Обожаю постельное белье в отелях. Именно такое я нашла на этом сайте и купила сразу два комплекта в разных цветах. С доставкой удивили, конечно! Быстро привезли, приехали с терминалом, что важно. Кайфую уже третий день, спасибо!!</p>
                        <p class="date">8 мая 2017, 17:14</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a class="review_link" href="#review">Оставить отзыв</a>
                <form name="review" class="review_form" action="/send.php" method="POST">
                    <p>Вы уже стали нашим клиентом? Поделитесь впечатлением:</p>
                    <div class="left">
                        <div class="field">
                            <input type="text" class="name" name="name" placeholder="Ваше имя"><span class="error">Пожалуйста, заполните поле</span>
                        </div>
                        <div class="field">
                            <input type="text" name="phone" class="phone" placeholder="Ваш телефон"><span class="error">Пожалуйста, заполните поле</span>
                        </div> 
                        <div class="field">
                            <label class="file">
                                <input type="file" name="file">
                                <span>Добавить фото</span>
                            </label> 
                        </div>
                    </div>
                    <div class="field for_textarea">
                        <textarea name="comment" placeholder="Ваш отзыв"></textarea><span class="error">Пожалуйста, заполните поле</span>
                        <div class="check">
                            <label>
                                <input type="checkbox" name="check" id="check">
                                <span class="checkbox"></span>
                                <span class="checkbox_text">Я согласен на обработку<br>персональных данных в&nbsp;соответствии&nbsp;с&nbsp;законодательством&nbsp;РФ</span>
                            </label>
                        </div>
                    </div>
                    
                    <input type="submit" value="Отправить">
                </form>
            </li>
            <li>
                <p class="title">Счастливые обладатели<br>стильных комплектов</p>
                <div class="review">
                    <img src="img/alena.jpg">
                    <div class="review_right"> 
                        <p class="name">Алена Лемешева</p>
                        <p class="text">Культ Сна — это маленький рай для любителей качественного и нежного постельного белья, я фанат уже несколько лет. Готова бесконечно благодарить, потому что ни в одной Икее вы не найдете такого качества. Низкий поклон, жду новинок.</p>
                        <p class="date">15 мая 2017, 19:25</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="review">
                    <img src="img/victori.jpg">
                    <div class="review_right"> 
                        <p class="name">Виктория Щепихина</p>
                        <p class="text">Для всей своей семьи выбираю постельное белье только тут. Недавно заказала комплект для бабушки на день рождения, сама приехать не смогла к ней, доставили в Самарскую область и успели к 26 апреля. Спасибо!</p>
                        <p class="date">19 мая 2017, 09:57</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="review">
                    <img src="img/kris.jpg">
                    <div class="review_right"> 
                        <p class="name">Кристина</p>
                        <p class="text">С Культом Сна мы дружим уже очень-очень давно, наверное с момента основания. Все постельное белье прошло проверку на прочность и качество лично от меня, т.к. стирать приходилось почти каждый день, дома на тот момент были совсем маленькие дети, сами понимаете. Доверяю этому магазину всецело.</p>
                        <p class="date">26 мая 2017, 19:01</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a class="review_link" href="#review">Оставить отзыв</a>
                <form name="review" class="review_form" action="/send.php" method="POST">
                    <p>Вы уже стали нашим клиентом? Поделитесь впечатлением:</p>
                    <div class="left">
                        <div class="field">
                            <input type="text" class="name" name="name" placeholder="Ваше имя"><span class="error">Пожалуйста, заполните поле</span>
                        </div>
                        <div class="field">
                            <input type="text" name="phone" class="phone" placeholder="Ваш телефон"><span class="error">Пожалуйста, заполните поле</span>
                        </div>  
                    </div>
                    <div class="field for_textarea">
                        <textarea name="comment" placeholder="Ваш отзыв"></textarea><span class="error">Пожалуйста, заполните поле</span>
                        <div class="check">
                            <label>
                                <input type="checkbox" name="check" id="check">
                                <span class="checkbox"></span>
                                <span class="checkbox_text">Я согласен на обработку<br>персональных данных в&nbsp;соответствии&nbsp;с&nbsp;законодательством&nbsp;РФ</span>
                            </label>
                        </div>
                    </div>
                    <input type="submit" value="Отправить">
                </form>
            </li>
            
        </ul>
    </div>
</section>

<script>
$(function() {
	$('.reviews-ul').carouFredSel({
		circular: true,
		infinite: true,
		width:950,
		prev: '#review-left',
		next: '#review-right',
		scroll: { items: 1,
            onBefore:  function(data){
                $('.review_form').css('display', 'none');
                $('.review_link').css('display', '');             
                $('.reviews-ul').trigger('updateSizes');                
                $('.reviews_control').css('bottom', '');
            }
		},
		auto: false,
		items: {
			visible: {
				min: 1,
				max: 1
			},
			width:950 
		},
		swipe: {
			onTouch: false
		}
	});

    $('.review_link').click(function(e) {
        e.preventDefault();
        $('.reviews_control').css('bottom', '330px');
        $(this).css('display', 'none');
        $(this).siblings('form').css('display','block');
        $('.reviews-ul').trigger('updateSizes');
    });
});



</script>