@import (optional, less) url("../../bower_components/normalize.css/normalize.css");

@regular: MullerRegular;
@light: MullerLight;
@bold: MullerBold;
@medium: MullerMedium;
@thin: MullerThin;
@lightitalic: MullerLightItalic;
@rouble: Rouble;

html, body {
    min-width: 1220px;
}

@main_color: #2b3536;
@link_color: #00838f;

body {
    background: #fff;
    color: @main_color;
    font-family: @regular, sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
}

.wrapper {
    width:1180px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

.clearfix {
    clear: both!important;
    float: none!important;
    height: 0!important;
}

.rouble {
    font-family: @rouble;
    color: inherit;
}

.table {
    display: table;
    table-layout: fixed;

    .tr {
        display: table-row;
    }

    .td {
        display: table-cell;
    }
}

img {
    max-width: 100%;
}

h1, h2 {
    margin: 0;
    font-size: 48px;
    font-family: @light;
    margin-bottom: 40px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
}

h4 {
    font-size: 36px;
    font-family: @light;
    margin: 40px 0;
}

a, a:visited {
    color: @link_color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-family: @light;
    margin: 25px 0;
    max-width: 960px;
}

.captcha {
    width: 100%;
    height: 76px;
    background: #f6f6f6;
    margin-top: 18px;
}  

::-webkit-input-placeholder {color:#b2c1cc;}
::-moz-placeholder          {color:#b2c1cc;}
:-moz-placeholder           {color:#b2c1cc;}
:-ms-input-placeholder      {color:#b2c1cc;}

:focus::-webkit-input-placeholder {color:transparent;}
:focus::-moz-placeholder          {color:transparent;}
:focus:-moz-placeholder           {color:transparent;}
:focus:-ms-input-placeholder      {color:transparent;}

input[type="radio"]{display: none!important;}
input[type="checkbox"]{display: none!important;}
input[type="file"]{display: none!important;}

input[type="text"] {
    font-family: @light;
    width: 100%;
    height: 40px;
    border: 1px solid #dbe4eb;
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 0 17px; 
    color: #2b3536;
}

input[type="text"]:focus {
    border:1px solid @link_color;
    color: #00bcd4; 
}

.animation {
    height: 65px;
    padding-top: 20px;
    position: relative;
    
    label {
        position: absolute;
        display: block;
        top:25px;
        left: 17px;
        font-size: 1px;
        color: #00bcd4;
        font-family: @light;
    }

    input {
        position: relative;
        z-index: 2;
    }
    
    textarea {
        z-index: 2;
    }
}

textarea {
    padding: 13px 17px;
    border: 1px solid #dbe4eb;
    border-radius: 10px;
    background: #fff;
    color: #2b3536;
    width: 100%;
    resize: none;
    height: 105px;
    position: relative;
}

input[type="submit"], a.button {
    height: 60px;
    text-align: center; 
    background: @link_color;
    border-radius: 10px;
    border:none;
    color: #fff;
    display: block;
    font-size: 16px;
    cursor: pointer;
    font-family: @regular;
    box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.55);
    text-decoration: none;
}

input[type="submit"]:hover, a.button:hover {
    background: #1a909a;
    box-shadow: 0 24px 32px -10px rgba(0, 0, 0, 0.55);
}

input[type="checkbox"] {
    
    & + span.checkbox {
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid @link_color;
        border-radius: 3px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        margin-top: 3px;
    }

    &:checked + span.checkbox {
        background: url(../img/check_white.png) center center no-repeat @link_color;
    }
}

span.check_desc {
    display: inline-block;
    font-size: 16px;
    font-family: @light;
    line-height: 24px;
    vertical-align: top;
}

.file {
    font-size: 16px;
    line-height: 24px;

    .file_button {
        font-family: @medium;
        color: #fff;
        width: 260px;
        height: 40px;
        border-radius: 10px;
        padding: 9px 0 0 40px;
        background: url(../img/file.png) left 50px center no-repeat @link_color;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: #1a909a;
        }
    }

    .file_desc {
        font-family: @light;
        color: #748a8d;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;    
        width: 270px;
        max-height: 40px;
        overflow: hidden;
    }
}

a.button2 {
        display: block;
        width: 160px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid @link_color;
        color: @link_color;
        padding-top: 18px;
        font-size: 16px;
        text-decoration: none;
        text-align: center;

        &:hover {
            text-decoration: none;
            color: @link_color;
            border-color: @link_color;
        }
    }

a.button3 {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    height: 40px;
    width: 180px;
    padding-top: 12px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-family: @regular;

    &:hover {
        border-color: @link_color;
        background: @link_color;
        text-decoration: none;
    }
}

a.button {
    padding-top: 23px;

    &:hover {
        text-decoration: none;
    }
}

select {
    display: none;
}

.select, .select_city {
    position: relative;
    z-index: 3;
    text-align: left;
}

.select .jq-selectbox {
    .jq-selectbox__select{
        height: 40px;
        width: 100%;
        padding: 0 17px;
        border-radius: 10px;
        border:1px solid #dbe4eb;
        color: #2b3536;
        font-size: 14px;
        font-family: @regular;
        background: url(../img/down.png) right 10px center no-repeat;
        line-height: 40px;
    }

    &.opened {
        .jq-selectbox__select {
            border: 1px solid @link_color;
         }
    }

    

    .jq-selectbox__dropdown {
        background: #fff;    
        border-radius: 0 0 10px 10px;
        border: 1px solid @link_color;
        border-top: none;
        margin-top: -10px;
        padding-top: 10px;

        li {
            display: block;
            padding: 11px 17px;
            cursor: pointer;

            &:last-child {
                border-radius: 0 0 10px 10px;
            }

            &:hover {   
                background: #f0feff;
                color: @link_color;
            }
        }

    }

}

.select_city .jq-selectbox {
    cursor: pointer;
    .jq-selectbox__select {
        width: auto;
        font-size: 16px;
        font-family: @regular;

        .jq-selectbox__select-text {
            background: url(../img/down.png) right  center no-repeat;
            padding-right: 17px;
            background-size: 10px;
        }
    }

    &.opened {
        .jq-selectbox__select .jq-selectbox__select-text {
            //background: url(../img/down.png) right 12px center no-repeat;
        }
    }

    .jq-selectbox__dropdown {
        background: #fff;    
        border-radius: 10px;
        border: 1px solid @link_color;
        font-size: 14px;
        font-family: @light;
        padding: 0 4px;
        position: absolute;
        width: 170px!important;
        right: -12px;
        top:30px!important;


        ul {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 12px;
                height: 7px;
                top: -7px;
                right: 7px;
                background: url(../img/cities.png);
            }
        }

        li {
            display: block;
            padding: 12px 18px; 
            border-bottom: 1px solid #f0f0f0;
            cursor: pointer;

            &:last-child {
                border: none;
            }   

            &:hover {   
                color: @link_color;
            }
        }

    }

}

h1 .select_city {
    cursor: pointer;
    display: inline-block;

    .jq-selectbox {
        .jq-selectbox__dropdown {
            top: 55px!important;
            right: -9px;
        }    
    
        .jq-selectbox__select {
            font-size: 48px;
            font-family: @light;
        }

        .jq-selectbox__select .jq-selectbox__select-text {
            background-image: url(../img/down_blue.png);
            background-size: auto;
            padding-right: 30px;
            color: @link_color;
        }
    }
}

select::-ms-expand {
  display: none;
}

.breadcrumbs {
    font-size: 12px;
    line-height: 24px;
    font-family: @light;
    background: #f9f9f9;   
    padding: 3px 0;
    color: #85898a;
    margin-bottom: 50px;
}


.success, .error {
    content: "";
    position: absolute;
    width: 67px;
    height: 54px;
    display: none;
}
.success {
    background: url(../img/success.png) center bottom no-repeat;
}

.error {
    background: url(../img/error.png) center bottom no-repeat;
}

.popup_background {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(5, 43, 47, 0.7);
    z-index: 10;
}

.popup {
    display: none;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 40px 70px -10px rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 100;
    padding: 40px;
    top: 30px;
    left: 50%;
    max-height: 92%;
    max-height: calc(~"100% - 70px");

    .wrap {
        position: absolute;
        overflow-y: auto;
        max-height: 91%;
        max-height: calc(~"100% - 80px");
    }

    p {
        margin:0; 
    }

    .title {
        font-size: 20px;
        font-family: @medium;
        margin-bottom: 23px;
        text-transform: uppercase;
    } 

    .close {
        position: absolute;
        width: 16px;
        height: 16px;
        background: url(../img/close.png);
        bottom: -35px;
        left: 50%;
        margin-left: -8px;
    }

    &.thanks {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        width: 380px;
        height: 220px;
        margin-left: -190px;
    }

    &.form {
        width: 380px;
        margin-left: -190px;
        text-align: center;
        height: 642px;

        .wrap {
            width: 300px;
        }

        .field {
            margin: 5px 0;

            &:first-child {
                margin-top: -10px;
            }
        }

        .textarea {
            height: 130px;  
        }

        input[type="submit"] {
            width: 200px;
            margin-top: 30px;
        }
    }

    &#docs {        
        padding-right: 30px;
        width:640px;
        margin-left: -320px;
        height: 920px;

        li:nth-last-child(1),li:nth-last-child(2),li:nth-last-child(3) {
            margin-bottom: 30px;
        }

        .title {
            text-align: center;
        }

        & .wrap > a {
            display: inline-block;
            vertical-align: baseline;
        }

        .button {
            width: 200px;
        }

        .close_a {
            position: relative;
            bottom: auto;
            left: auto;
            text-decoration: underline;
            color: @main_color;
            margin-left: 40px;
            width: auto;
            height: auto;

            &:hover {
                text-decoration: none; 
            }
        }
    }
}

header {
    padding: 20px 0;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;

    .logo {
        display: inline-block;
        vertical-align: middle;
        width: 101px;
    }

    .top_menu {
        display: inline-block;
        vertical-align: middle;
        width: 710px;
        margin-left: 5px;
        margin-right: 10px;

        li {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            font-family: @light;
            margin: 0 11px;
            padding: 2px 0;
            position: relative;

            &:hover ul {
                display: block;
            }

            ul {
                display: none;
                position: absolute;
                z-index: 2;
                top: 40px;
                left: 0;
                background: #fff;
                box-shadow: 0 20px 60px 0 rgba(85, 94, 102, 0.25);
                width: 300px;
                padding: 15px 0;
                border-radius: 6px;

                li {
                    display: block;
                    padding: 0;
                    margin: 0;
                    font-family: @regular;

                    a {
                        display: block;
                        padding: 11px 35px;

                        &:hover {
                            background: #f0feff;
                        }
                    }

                }
            }

            a {
                color: @main_color;

                &:hover {
                    text-decoration: none;
                    color: @link_color;
                }
            }
            
            &.drivers {
                margin-right: 7px; 
                font-family: @regular;
                padding-bottom: 20px;
                top: 10px;
            
                & > a {
                    padding: 8px 35px 7px 15px;
                    border-radius: 6px;
                    background: url(../img/down.png) right 16px center no-repeat;
                    border: 1px solid #dbe4eb;
                }
                &:hover > a {
                    background: url(../img/up.png) right 16px center no-repeat #dbe4eb;
                    color: @main_color;
                }
            }
        }
    }

    .right {
        display: inline-block;
        vertical-align: middle;
        width: 324px;
    }

    .phones {
        font-size: 16px;
        font-family: @bold;
        text-align: right;
        margin: 0;

        span {
            display: inline-block;
            vertical-align: middle;

            &:last-child {
                margin-left: 20px;
            }
        }
    }

    .social {
        clear: both;
        text-align: right;
        margin-top: 15px;

        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            margin: 0 15px;

            &.viber {
                background: url(../img/viber.png);
                margin-left: 0;
            }
            &.whatsapp {
                background: url(../img/whatsapp.png);
            }
            &.telegram {
                background: url(../img/telegram.png);
                margin-right: 20px;
            }
        }

        span {
            font-size: 13px;
            font-family: @light; 
        }
    }

    .select_city {
        position: absolute;
        top: 24px;
        left: 655px;
        background: url(../img/city.png) left top no-repeat;
        padding-left: 20px;
        padding-top: 2px;
        
    }
}

.main_banner {
    height: 560px;
    background: url(../img/main_banner.png);

    .title {
        font-family: @medium;
        font-size: 40px;
        color: #fff;
        line-height: 60px;
        width: 660px; 
        position: absolute;
        top: 115px;
        margin: 0;
    }

    .registration {
        width: 600px;
        font-size: 22px;
        line-height: 33px;
        color: #fff; 
        position: absolute;
        top: 320px;
        margin: 0;
    }

    .form {
        position: absolute;
        right: 10px;
        top:30px;
        background: #fff;
        border-radius: 6px;
        padding: 40px 60px;
        box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.7);
        width: 470px;

        .form_title {
            font-size: 20px;
            font-family: @medium;
            text-transform:uppercase;
            padding-left: 40px;
            background: url(../img/wheel.png) left center no-repeat;
            line-height: 26px;
            margin: 0;

            & > span {
                font-size: 14px;
                font-family: @regular; 
                display: block;
                line-height: 20px;
                text-transform: none;
            }

            .blue {
                color: @link_color;
                font-family: @medium;
            }
        }

        .field {
            margin-top: 7px;

            &.right {
                width: 160px;
                float: right;
            }    
            
            &.left {
                width: 160px;
                float: left;
            }    
        }  

        .docs {
            color: @main_color;
            font-family: @thin;
            text-decoration: underline;
            font-size: 14px;
        } 

        input[type="submit"] {
            width: 240px;
            margin-top: 27px;
            position: relative;
        }

        .success, .error {            
            bottom:43px;
            right: 60px;
        }
    }
}

.advantages {

    h2 {
        margin-top: 60px;
    }

    .first_line > div {
        display: inline-block;
        vertical-align: top;
        width: 330px;
        height: 160px;
        margin-right: 67px;
        position: relative;
        background: @link_color;
        color: #fff;
        padding: 23px 30px 0;

        &:last-child {
            margin-right: 0;
        }

        .number {
            font-size: 30px;
            font-family: @bold;
            display: inline-block;
            vertical-align: middle;
            max-width: 110px;
            margin-right: 10px;
        }

        .title {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            font-family: @medium;
            line-height: 20px;
            max-width: 147px;
        }

        .desc {
            font-size: 16px;
            line-height: 24px;
            margin-top: 14px;
            font-family: @light;
            display: block;
        }

        .icon {
            position: absolute;
            top:-30px;
            right: -30px;
            background: #e4f7f9;
            border-radius: 100%;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;

            img {
                vertical-align: middle;
            }
        }
    }

    .second_line {
        margin-top: 80px;
        margin-bottom: 60px;
        
        & > div {
            width: 540px;
            height: 160px;
            display: inline-block;
            vertical-align: top;
            background: #e4f7f9;
            padding: 23px 40px 0; 

            &:first-child {
                margin-right: 73px;
            }

            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                max-width: 55px;
            }

            .title {
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
                max-width: 380px;
            }

            .desc {
                font-size: 16px;
                line-height: 24px;
                margin-top: 14px;
                font-family: @light;
                display: block;
            }
        }
    }

    &.for_content {
        padding: 0;

        .first_line > div{
            width: 240px;
            margin-right: 14px;
            padding: 23px 15px 0 25px;
            height: 180px;

            .icon {
                top: -20px;
                right: 20px;
            }

            .number {
                font-size: 26px;
                display: block;
            }

            .title {
                display: block;
                font-size: 16px;
                line-height: 24px;
                max-width: none;
            }

            .desc {
                font-size: 14px;
                line-height: 21px;
                margin-top: 10px;
            }
        }
    }
}

section.demands {
    padding: 80px 0 150px;
    background: url(../img/demands.png) top 180px center no-repeat;

    h2 {
        text-align: center;
    }

    ul {
        float: left;
        width: 400px;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.55);
        padding: 60px 30px 20px 40px;
        margin-top: 45px;

        p {
            font-size: 20px;
            line-height: 30px;
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 68px;
            background-image: url(../img/driver-license.png);
            margin: 0;
        }

        &.driver {
            margin-left: 295px;
        }

        &.docs{
            margin-left: 60px;

            p {
                background-position: left 8px center;
                background-image: url(../img/docs.png);
            }
        }

        li {
            margin: 24px 0;
            margin-left: 20px;
            display: block;
            font-size: 16px;
            font-family: @light;
            line-height: 24px;
            padding-left: 50px;
            background: url(../img/check.png) left top 5px no-repeat;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

section.man_banner {
    height: 402px;
    padding-top: 165px;
    background: url(../img/man_banner.png) top center no-repeat;
    margin-bottom: 80px;

    .wrapper {
        width: 780px;
    }

    h2 {
        color: #fff;
    }

    a {
        display: inline-block;
        vertical-align: top;
        width: 260px;
        font-size: 16px;
        height: 40px;

        &.button {
            margin-right: 40px;
            border: 1px solid @link_color;
            padding-top: 13px;
        }
    }
}

.steps {
    padding: 60px 0;

    h2 {
        text-align: center;
    }

    .wrapper {
        background: url(../img/steps.png) top 155px center no-repeat;
    }

    .wrapper > div {
        background: #fff;        
        box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        text-align: center;
        height: 380px;
        margin-right: 155px;

        &:last-child {
            margin-right: 0;

            &:after {
                display: none;
            } 
        }

        img.main {
            display: block;
            border-radius: 10px 10px 0 0;
            width: 100%;
        }

        .icon {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -50px;
            top: 100px;
            width: 100px;
            height: 100px;
            background: #f1fdff;
            border-radius: 100%;
            line-height: 100px;

            img {
                vertical-align: middle;
            }
        }

        .title {
            font-size: 20px;
            font-family: @regular;
            line-height: 30px;
            margin: 65px 0 25px;
            padding: 0 10px;
        }

        .desc {
            font-size: 16px;
            line-height: 24px;
            font-family: @light;
            padding: 0 10px;
            margin: 0;
        }

        &.call {
            width: 260px;

            &:before { 
                content: "";
                width: 146px;
                height: 174px;
                position: absolute;
                background: url(../img/steps_call_man.png);
                right: -7px;
                top:-14px;
            }
        }

        &.docs {
            width: 320px;
        }

        &.active {
            width: 260px;

            &:before { 
                content: "";
                width: 110px;
                height: 174px;
                position: absolute;
                background: url(../img/steps_active_man.png);
                left: 10px;
                top:-14px;
            }
        }
    }
}

.car {
    .wrapper {
        padding-left: 610px;
        text-align: center;
        padding-top: 42px;
        padding-bottom: 140px;

        &:before {
            content: "";
            width: 720px;
            height: 466px;
            position: absolute;
            z-index: 2;
            top:0;
            left: 0;
            background: url(../img/main_car.png)
        }
    }

    .car_man {
        width: 560px;
        border-radius: 10px;
        box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.4);
        display: block;
        position: relative;
        margin-bottom: 65px;

        & > img {
           border-radius: 10px;
           display: block; 
        }

        .icon {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -50px;
            bottom: -50px;
            width: 100px;
            height: 100px;
            background: #f1fdff;
            border-radius: 100%;
            line-height: 100px;

            img {
                vertical-align: middle;
            }
        }
    }

    .title {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        margin-bottom: 15px;
    }

    .desc {
        font-size: 16px;
        line-height: 24px;
        font-family: @light;
        margin: 0;
        margin-bottom: 25px;
    }

    a.button {
        font-size: 18px;
        font-family: @bold;
    }
}

.comission_banner {
    background: url(../img/comission_banner.png) top center no-repeat;
    height: 400px;
    color: #fff;
    padding: 103px 0;
    margin-bottom: 80px;

    h2 {
        margin-bottom: 20px;
    }

    .left {
        width: 700px;
        display: inline-block;
        vertical-align: top;

        .desc {
            font-size: 30px;
            font-family: @light;
            margin: 0;
            margin-bottom: 30px;
        }

        .button {
            width: 180px;
            height: 50px;
            padding-top: 18px;
        }
    }

    .right {
        width: 360px;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        .title {
            font-size: 140px;
            font-family: @bold;
            line-height: 155px;
        }

        .desc {
            font-size: 40px;
            font-family: @light;
        }
    }
}

.reviews {

    &.page {

        h2 {
            text-align: left;
        }
    
        ul li {
            margin-bottom: 40px;    

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(3n-2) {
                margin-left: 0;
            }
        }
    }

    h2 {
        text-align: center;
    }

    ul {

        li {
            display: inline-block;
            vertical-align: top;
            width: 360px;
            margin: 0 18px; 
            padding: 17px 0;

            .avatar {
                width: 83px;
                height: 83px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 83px;
                margin-right: 25px;
            }

            .desc {
                display: inline-block;
                width:240px;
                vertical-align: middle; 
            }

            .name {
                display: block;
                font-size: 20px;
                line-height: 30px;
            }

            .city {
                font-size: 16px;
                line-height: 24px;
                font-family: @light;
                padding-left: 18px;
                background: url(../img/geo.png) left top no-repeat;
            }

            .text {
                font-size: 16px;
                line-height: 24px;
                font-family: @lightitalic;
                display: block;
                margin-top: 25px;
                position: relative;

                &:after {
                    content: "";
                    width: 36px;
                    height: 40px;
                    position: absolute;
                    background: url(../img/quotes.png);
                    right: 3px;
                    bottom: -17px;;
                }
            }
        }
    }

    .control {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -30px;
        width: 100%;

        a { 
            position: absolute;
            width: 60px;
            height: 60px;

            &.reviews-left {
                background: url(../img/arrow-left.png);
                left: -70px;

                &:hover {
                    background: url(../img/arrow-left_active.png);
                }
            }

            &.reviews-right {
                background: url(../img/arrow-right.png);
                right: -70px;

                &:hover {
                    background: url(../img/arrow-right_active.png);
                }
            }
        }
    }

    .all {        
        margin: 0 auto;
    }
}

.pager {
    text-align: center;
    margin: 40px 0;

    a {
        display: inline-block;
        font-size: 0;
        background: #d4f2f6;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        margin: 0 5px;

        &.selected {
            background: @link_color;

        }
    }
}

section.question {
    height: 1080px;
    background: url(../img/question_block.png) bottom center no-repeat;

    .wrapper {
        height: 100%;
    }

    .form {
        width: 760px;
        position: absolute;
        left: 50%;
        margin-left: -380px;
        bottom: 75px;
        box-shadow: 0 20px 30px 10px rgba(85, 94, 102, 0.25);
        background: #fff;
        padding: 40px 0 60px;
        border-radius: 10px;

        h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .desc {
            font-size: 30px;
            line-height: 45px;
            font-family: @light;
            text-align: center;
            margin: 0;
        }

        .field {
            width: 360px;
            margin-left: auto;
            margin-right: auto; 
        }

        .animation {
            height: 85px;
        }

        input {
            height: 50px;
        }

        input[type="submit"] {
            width: 240px;
            height: 60px;
            margin-top: 30px;
        }

        .error, .success {
            bottom: 60px;
            right: 200px;
        }
    }
}

.contacts {
    background: #272b2b;
    position: relative;
    color: #fff;
    height: 460px;
    box-shadow: 0 -7px 25px 0 rgba(0, 0, 0, 0.15);
    margin-top: 60px;

    .map {
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        height: 460px;
        z-index: 2;
    }

    .wrapper {
        padding-right: 570px;
        padding-top: 45px;
    }

    .menu {
        float: left;
        width: 250px;

        li {
            display: block;
            font-size: 16px;
            font-family: @light;
            margin: 18px 0;

            &:first-child {
                margin-top: 0;
            }

            a {
                color: #fff;
            }
        }
    }

    .main {
        float: left;
        width: 320px;
        
        p {
            font-family: @light;
            font-size: 16px;
            line-height: 24px;
            margin: 10px 0;

            .title {
                display: block;
                color: #8fabaf;
            }
        }

        .city_title {
            font-size: 20px;
            margin: 0;
            font-family: @regular;
            display: inline-block;

            span {
                color: @link_color;
                padding-right: 17px;
                background: url(../img/down_blue.png) right center no-repeat;
            }
        }

        .select_city {
            display: inline-block;
            position: relative;
            color: @link_color;

            .jq-selectbox .jq-selectbox__select {
                font-size: 20px;
            }
            .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
                background-image: url(../img/down_blue.png);
            }
            
            ul {
                color: @main_color;
            }
        }
    }

    .links {
        margin-top: 25px;
        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 25px;
        }

        a {
            display: inline-block;

            &:last-child {
                margin-left: 20px;
            }
        }
    }
}

footer {
    color: #9d9d9d;
    font-size: 16px;
    font-family: @light;
    background: #171b1b;
    padding: 20px 0;

    & .wrapper > div {
        display: inline-block;
        vertical-align: middle;
    }

    .copyright {
        width: 255px;
    }

    .polite {
        width: 315px;
        font-family: @light;
        font-size: 12px;
    }

    .buttons a {
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        padding-top: 12px;

        &:first-child {
            margin-left: 0;
        }
    }

    .buttons .button {
        color: #fff;
        height: 40px;
        width: 160px;
        padding-top: 14px;
        font-size: 14px;
    }

}


.left_part {
    width: 360px;
    float: left;

    .left_menu {
        width: 100%;
        border-radius: 10px;
        background: #fff;
        font-size: 20px;
        box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;

        li {

            a {
                color: @main_color;
                padding: 19px 40px;
                display: block;

                &:hover {
                    color: #2ac2d0;
                    background: #f0feff;
                    text-decoration: none;
                }
            }
        }
    }

    .left_banner {
        width: 100%;
        height: 380px;
        background: url(../img/left_banner.png);
        padding: 25px 30px;
        color: #fff;
        margin: 30px 0;

        .title {
            font-size: 20px;
            font-family: @medium;
        }

        .number {
            font-size: 45px;
            font-family: @medium;
            margin: 15px 0;
        }

        .desc {
            font-size: 16px;
            line-height: 24px;
            font-family: @light;

            span {
                font-family: @bold;
            }
        }
    }
}

.content {
    width: 770px;
    float: right;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &.button, &.button2, &.button3 {
            text-decoration: none;
        } 
    }
}

.table.cars {
    width: 100%;
    font-family: @light;
    font-size: 16px;

    .tr {

        .td {
            padding: 17px 0 15px;

            &:first-child {
                width: 400px;
                padding-left: 20px;
            }

            &:nth-child(2) {
                width: 170px;
            }
        }

        &:nth-child(2n) {
            background: #f9f9f9;

            .td {
                padding: 7px 0 5px;

                &:first-child {
                    padding-left: 20px;
                }
            }
        }
    }

    .header {
        font-family: @regular;
        font-size: 20px;
    }
}

.find_car {
    width: 100%;
    background: url(../img/find_car.png) left top no-repeat;
    height: 300px;
    padding: 39px 36px;
    color: #fff;
    margin-top: 45px;

    .title {
        font-size: 36px;
        margin: 0;
    }

    .desc {
        font-size: 20px;
        line-height: 30px;
        margin: 38px 0;
    }

    .button {
        width: 260px;
        height: 40px;
        padding-top: 13px;
    }
}

.documents {
    width: 100%;

    li {
        width: 240px;
        margin-right: 20px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;

        img {
            display: block;
            margin-bottom: 25px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &.popup_documents {
        li {
            width: 170px;
            margin-right: 25px;

            &:nth-child(3n) {
                margin-right: 0;
            }

            img {
                width: 160px;
            }
        }
    }
}

.documents_links {
    margin-bottom: 60px;

    a {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        height: 40px;
        padding-top: 13px;
        width: 240px;

        &.example {
            color: @main_color;
            border: 1px solid #dbe4eb;
            border-radius: 10px;
            margin-left: 20px;
            text-align: center;
            text-decoration: none;

            &:hover {
                border-color: @link_color;
                color: @link_color;
                text-decoration: none;
            }
        }
    }
}

.connect {
    width: 100%;
    background: url(../img/find_car.png) left top no-repeat;
    height: 260px;
    padding: 39px 36px;
    color: #fff;
    margin-top: 20px;

    .title {
        font-size: 36px;
        line-height: 54px;
        margin: 0;
    }

    a {
        width: 220px;
        height: 40px;
        padding-top: 12px;
        display: inline-block;
        vertical-align: top;
        margin-top: 30px;

        &.button {
            width: 260px;
            margin-right: 20px;
        }
    }

    &.big {
        background: url(../img/connect_big.png);
    }
}

.instruction {
    margin-top: 50px;

    p {
        margin: 0;
    }

    ul {
        width: 100%;

        li {
            display: inline-block;
            vertical-align: top;
            width: 360px;
            margin: 35px 40px 40px 0;
            padding-right: 50px;
            font-size: 20px;
            line-height: 30px;

            &:nth-child(2n) {
                margin-right: 0;
            }

            .img {
                display: block;
                box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.4);
                border-radius: 36px;
                width: 258px;
                margin: 15px 0 0;

                img {
                    max-width: 260px;
                    width: 260px;
                    display: block;
                    position: relative;
                    left: -2px;
                }
            }

            .desc {
                font-size: 14px;
                line-height: 21px;
                margin-top: 20px;
            }
        }
    }
}

.contacts_page {
    margin-bottom: 60px;

    .map {
        width: 630px;
        height: 360px;
        float: right;
        margin-right: 30px;
        box-shadow: 0 21px 30px -10px rgba(0, 0, 0, 0.4);
    }

    .left {
        float: left;
        width: 470px;
        font-family: @light;

        .city {
            font-size: 20px;
            line-height: 30px;
            font-family: @regular;
            margin-bottom: -15px;
        }

        .button {
            width: 160px;
            height: 40px;
            padding-top: 12px;
        }
    }
}

.drivers_demands {
    margin-bottom: 40px;
    p {
        font-family: @light;

        &.title {
            font-family: @regular;
            font-size: 20px;
            line-height: 30px;
        }
    }

    ul {
        margin-bottom: 35px;

        li {
            display: block;
            font-size: 18px;
            line-height: 27px;
            padding-left: 40px;
            background: url(../img/arrow.png) left top 6px no-repeat;
            margin: 20px 0;
        }
    }
}

.tariff {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    table-layout: fixed;

    p {
        margin: 0;
    }

    .tr {

        .td {
            text-align: center;
            vertical-align: middle;
            padding: 18px 8px;
            width: 160px;

            &:nth-child(2) {
                padding-left: 0;
            }

            &.left {
                width: 200px;
                text-align: left;
                padding-left: 8px;
                padding-right: 0;
                font-family: @bold;

                span {
                    font-family: @regular;
                    font-size: 14px;
                    line-height: 21px;
                    display: block;
                }
            }
        }

        &:nth-child(2n+1) {
            background: #f8f8f8;

            .td {
                padding: 8px;

                &:nth-child(2) {
                    padding-left: 0;
                }
            }

            .left {
                color: @link_color;
            }
        }
        &.header {
            background: none;

            .td {
                padding-top: 0;
                padding-bottom: 0;

                &.left {
                    vertical-align: bottom;

                    img {
                        display: block;
                    }
                }
            }

            .title {
                font-size: 20px;
                font-family: @bold;
                line-height: 30px;
                margin-bottom: 10px;
            }

            .cost {
                background: @link_color;
                color: #fff;
                font-family: @light;
                padding: 5px 0; 
            }
        }
    }

    &.tariff2 {
        background: #fff;
        .tr {
            .td {
                width:115px;
            }

            &.header {

                .title {
                    font-size: 16px;
                    font-family: @regular;
                    line-height: 30px;
                    margin-bottom: 10px;
                }

                .cost {
                    background: @link_color;
                    color: #fff;
                    font-family: @light;
                    padding: 5px 0; 
                    font-size: 14px;
                    line-height: 21px;
                }
            }

            .left {
                width: 200px;
            }
        }
    }
}

.how_match {
    position: relative;
    margin: 70px 0;

    img {
        margin: 0 auto;
        display: block;
    }

    &:after {
        content: "";
        width: 348px;
        height: 449px;
        position: absolute;
        background: url(../img/phone.png);
        bottom: 20px;
        right: -130px;
    }

    &:before {
        content: "";
        width: 381px;
        height: 492px;
        position: absolute;
        background: url(../img/phone2.png);
        left: -140px;
        bottom: 80px;
    }
}

.faq {
    .question {
        cursor: pointer;
        background: #fff;
        box-shadow: 0 11px 40px -10px rgba(0, 0, 0, 0.55);
        padding: 15px 40px;
        margin: 20px 0;

        p {
            font-family: @light;
        }

        .title {
            font-family: @regular;
            font-size: 20px;
            line-height: 30px;
            color: @link_color;
            background: url(../img/down.png) right center no-repeat;
            background-size: 13px;
            max-width: none;
            cursor: pointer;
        }

        .answer {
            display: none;
            //max-height: 0;
            overflow-y: hidden;
        }

        &.open {
            cursor: default;

            .title {
                background-image: url(../img/up_green.png);
            }
        }
    }
}

.license_form {
    background: @link_color;
    color: #fff;
    padding: 25px 65px 20px 30px;

    p {
        margin: 0;
        margin-bottom: 15px;
    }

    span {
        font-size: 18px;
        font-family: @bold;

        &:last-child {
            float: right;
        }
    }
    
    .button {
        background: #fff;
        color: @link_color;
        width: 320px;
        height: 40px;
        padding-top: 13px;

        &:hover {
            background: #fff;
        }
    }
}

.advantages2 {
    width: 100%;
    margin-bottom: 40px;

    li {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 33%;
        padding: 0 10px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
        font-family: @light;

        .icon {
            display: block;
            margin: 0 auto;
            box-shadow: 0 11px 40px -10px rgba(0, 0, 0, 0.55);
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 100%;
            background: #e4f7f9;
            margin-bottom: 20px;

            img {
                vertical-align: middle;
            }
        }
    }
}

.license_steps {
    width: 100%;
    background: url(../img/steps.png) top 55px center no-repeat;

    li {
        display: inline-block;
        vertical-align: top;
        background: #fff;
        box-shadow: 0 11px 40px -10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        width: 221px; 
        position: relative;
        text-align: center;
        padding-bottom: 25px;
        margin-right: 49px;
        height: 380px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        .icon {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -50px;
            top: 100px;
            width: 100px;
            height: 100px;
            background: #f1fdff;
            border-radius: 100%;
            line-height: 100px;

            img {
                vertical-align: middle;
            }
        }

        .title {
            font-family: @regular;
            font-size: 20px;
            line-height: 30px;
            margin: 50px 0 25px;
            padding: 0 10px;
        }

        .desc {
            font-size: 16px;
            line-height: 24px;
            font-family: @light;
            padding: 0 10px;
            margin: 0;
        }

        &.call {
            &:before { 
                content: "";
                width: 146px;
                height: 174px;
                position: absolute;
                background: url(../img/steps_call_man.png);
                right: 7px;
                top:-14px;
            }
        }

        &.take {
            &:before { 
                content: "";
                width: 122px;
                height: 176px;
                position: absolute;
                background: url(../img/take.png);
                left: -13px;
                top:-17px;
            }
        }
    }
}


.start_banner {
    width: 100%;
    background: url(../img/start_banner.png) left top no-repeat;
    height: 300px;
    padding: 60px;
    color: #fff;
    margin: 50px 0;

    .title {
        font-size: 36px;
        line-height: 54px;
        margin: 0;
    }

    .button {
        height: 40px;
        padding-top: 12px;
        margin-top: 30px;
        width: 300px;
    }
}

.error_message {
    display: none;
}

.send_docs {
    font-size: 16px;
    font-family: @light;

    .select .jq-selectbox .jq-selectbox__dropdown {
        position: absolute;
        width: 100%;
    }

    .field {
        margin: 5px 0;

        .left {
            width: 300px;
            display: inline-block;
            text-align: right;
            padding-right: 15px;
            vertical-align: middle;
            position: relative;

            .star {
                color: @link_color;
                position: absolute;
                right: 7px;
                top: 0px;
            }
        }

        .right {
            width: 560px;
            display: inline-block;
            vertical-align: middle;

            .desc {
                color: #b2c1cc;
                font-size: 14px;
                margin: 3px 0;
                font-family: @thin;
            }

            .error_message {
                color: #d02121;
                font-size: 14px;
                line-height: 24px;
                margin: 0;
            }

            select, input {
            
            }
        }

        &.textarea {
            margin-bottom: 15px;

            .right{
                vertical-align: top;
            }

            .left {
                vertical-align: top;
                padding-top: 10px;
            }
        }
    }

    input[type="submit"] {
        width: 100%;
    }

    label.type {
        float: left;
        display: block;

        h2 {
            color: @link_color;
            cursor: pointer;
            text-decoration: underline;
            margin-bottom: 0;
        }
        
        input:checked + h2 {
            color: @main_color;
            text-decoration: none;
            cursor: default;
        }

        &:first-child {
            margin-right: 60px;
        }
    }

    .card {
        width: 125px;
        margin-right: 15px;
        display: inline-block;
        text-align: center;

        &.last {
            margin-right: 0;
        }
    }

    label.check {
        display: block;
        margin-bottom: 15px;
    }
}