<section class="advantages">
    <div class="wrapper">
        <div class="second_line">
            <div>
                <span class="icon"><img src="img/operator.png"></span>
                <span class="title">До нас вы всегда<br>сможете дозвониться</span>
                <span class="desc">Наши специалисты проконсультируют вас в любое время, по всем возникающим вопросам.</span>
            </div>
            <div>
                <span class="icon"><img src="img/money.png"></span>
                <span class="title">Выплаты<br>без задержек</span>
                <span class="desc">Оплата путем зачисления денег на вашу банковскую карточку.</span>
            </div>
        </div>
    </div>
</section>