<section class="main_banner">
    <div class="wrapper">
        <p class="title">Зарабатывай от 5 000 руб в день<br>Дистанционное подключение за&nbsp;30&nbsp;мин.</p>
        <p class="registration">Регистрация из дома или можете приехать к нам в офис, без ИП и ООО, круглосуточная техподдержка</p>
        <form class="form" name="banner_form" form-type="modal" method="POST" action="#">
            <p class="form_title">Станьте водителем UBER
                <span>Зарегистрируйтесь и получите бонус 
                    <span class="blue">3 000р.</span>
                </span>
            </p>
            <div class="field animation">
                <input type="text" name="name" placeholder="Имя" class="required">
                <label>Имя</label>
            </div>
            <div class="field animation">
                <input type="text" name="phone" placeholder="+7 (999) 999 99 99" class="required">
                <label>Телефон</label>
            </div>
            <div class="field animation">
                <div class="select">
                    <select name="city">
                        <option value="1">Санкт-Петербург</option>
                        <option value="1">Краснодар</option>
                    </select> 
                </div>
            </div>
            <div class="field left animation">
                <input type="text" name="car" placeholder="Марка авто" class="required">
                <label>Марка авто</label>
            </div>
            <div class="field right animation">
                <input type="text" name="car_year" placeholder="Год выпуска авто" class="required">
                <label>Год выпуска авто</label>
            </div>
            <div class="clearfix"></div>
            <div class="field">
                <div class="captcha"></div>
            </div>
            <!--<div class="field right animation">
                <a href="#" class="docs">Отправить документы</a>
            </div>-->
            <div class="clearfix"></div>
            <div class="field">
                <label class="check">
                    <input type="checkbox" name="check">
                    <span class="checkbox"></span>
                    <span class="check_desc">Я соглашаюсь с условиями обработки<br>и использования моих персональных данных</span>
                </label>
            </div>
            <input type="submit" value="Подключиться к UBER">
            <!--<span class="success"></span>
            <span class="error"></span>-->
        </form>
        <a href="#popup_form" class="popup_show button for_mobile">Стать водителем</a>
    </div>    
</section>
