<section class="demands">
    <div class="wrapper">
        <h2>Условия и требования UBER</h2>
        <ul class="driver">
            <p class="title">Требования<br>к водителю и автомобилю</p>
            <li>Стаж вождения от 3 лет</li>
            <li>Возраст от 21 года</li>
            <li>Права категории В</li>
            <li>Наличие автомобиля от 2007г выпуска</li>
            <li>Культура  общения с клиентами</li>
            <li>Гражданство любое</li>
            <li>Опрятный внешний вид</li>
        </ul>
        <ul class="docs">
            <p class="title">Документы<br>для подключения</p>
            <li>Водительское удостоверение</li>
            <li>Паспорт</li>
            <li>Действующий полис ОСАГО</li>
            <li>Свидетельство о регистрации ТС</li>
            <li>Реквизиты Вашей банковской карты</li>
            <li>Фото автомобиля спереди</li>
            <li>Фото задних сидений</li>
        </ul>
        <div class="clearfix"></div>
    </div>
</section>
