<section class="steps">
    <div class="wrapper">
        <h2>Как стать водителем?</h2>
        <div class="call">
            <img class="main" src="img/steps_call.png">
            <span class="icon"><img src="img/steps_call_icon.png"></span>
            <p class="title">Позвоните по телефону</p>
            <p class="desc">+7 (812) 995-38-05<br>или отправьте заявку</p>
        </div>
        <div class="docs">
            <img class="main" src="img/steps_docs.png">
            <span class="icon"><img src="img/steps_docs_icon.png"></span>
            <p class="title">Отправьте документы</p>
            <p class="desc">Загрузите фото своих водительских прав, свидетельство о регистрации автомобиля, страховой полис и другую необходимую информацию.</p>
        </div>
        <div class="active">
            <img class="main" src="img/steps_active.png">
            <span class="icon"><img src="img/steps_active_icon.png"></span>
            <p class="title">Ожидайте активации</p>
            <p class="desc">Мы проверим ваши документы в течение 30 минут и вышлем инструкции по дальнейшим действиям</p>
        </div>
    </div>
</section>